# Directorios a ignorar
node_modules/
vendor/
assets/vendor/
dist/
build/

# Archivos específicos
*.min.js
*.min.css
package-lock.json
composer.lock

# Archivos de configuración
.env
.php-cs-fixer.php

dashboard
adminlte

.vscode
code.txt

# Archivos de entorno y credenciales (NUNCA SUBIR A GIT)
.env

# Directorios de dependencias (Si decides usar Composer más adelante)
vendor/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar la carpeta de logs de docker (si la creas)
logs/