/* assets/css/custom/main.css */
@import '_variables.css';
@import '_components.css';
@import '_utilities.css';

body {
    background-color: var(--bg-void);
    color: var(--text-med);
    font-family: 'Source Sans Pro', sans-serif;
}

/* Eliminar fondos grises de AdminLTE */
.content-wrapper, .main-header, .main-footer {
    background: transparent !important;
    border: none !important;
}

/* Scrollbar Cyberpunk */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--bg-void);
}
::-webkit-scrollbar-thumb {
    background: var(--bg-surface);
    border-radius: 10px;
    border: 2px solid var(--bg-void);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-purple);
}